<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SmartHome.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>953E6BE02016C0F80091C8B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953E6BF72016C0F90091C8B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>953E6C022016C0F90091C8B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
